.catalogues-Container .Title p{
font-size: 16px;
font-weight: 400;
line-height: 25.04px;
color: #131313;
font-family: "IRANSansWeb400";
}
.loaded{
margin-bottom: 3em;
}
.Error-container img {
    transform:  scale(1.25) translate(9%, 4%) !important;
    -webkit-transform:  scale(1.25) translate(9%, 4%) !important;
    -moz-transform:  scale(1.25) translate(9%, 4%) !important;
    -ms-transform:  scale(1.25) translate(9%, 4%) !important;
    -o-transform:  scale(1.25) translate(9%, 4%) !important;
}
.Error-container .label-up {
 
    margin: 0px 30px 0 30px !important;

}
@media only screen and (max-width: 1300px) {
    .Error-container img {
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        width: 100%;
        object-fit: fill;
}
.Error-container .Box{
    width: 51%;
 margin-left: auto;
}
  }
